@import "tailwindcss";


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: white;
}

h1, h2 {
  font-weight: 600;
}

small, .meta {
  font-weight: 300;
}

p, a{
    font-size: 12px;
}